@use "../functions" as *;
@use "../helpers" as *;

.section {
  @extend %container;
  padding-block: fluid-size(80px, 160px, 1100);

  .section__title {
    font-size: fluid-size(32px, 40px, 1100);
    line-height: 1.1;
    margin-bottom: fluid-size(16px, 32px, 1100);

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }

  .section__description {
    color: v("grey");

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }

  .section__content {
    margin-top: 4rem;
  }
}
