<footer class="footer">
  <a href="/" class="footer__homelink" title="easybank">
    <icon src="./images/logo.svg" class="footer__homelink-logo"></icon>
  </a>
  <include
    src="partials/social.html"
    locals='{
      "classname": "footer__social"
    }'
  ></include>
  <nav class="footer__nav nav" aria-label="footer-nav">
    <ul class="nav-menu">
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link">About Us</a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link">Contact</a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link">Blog</a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link">Careers</a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link">Support</a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link">Privacy Policy</a>
      </li>
    </ul>
  </nav>
  <a href="#" class="footer__invite btn">Request Invite</a>
  <p class="footer__copy">
    <small> &copy; EasyBank. All Rights Reserved </small>
  </p>
</footer>
