<header class="header">
  <a href="/" class="header__homelink" title="easybank">
    <img
      src="./images/logo.svg"
      alt="EasyBank logo"
      class="header__homelink-logo"
    />
  </a>
  <button class="header__toggle toggle" aria-label="mobile-menu">
    <icon
      src="./images/icon-hamburger.svg"
      class="toggle__icon toggle__icon--burger"
    ></icon>
    <icon
      src="./images/icon-close.svg"
      class="toggle__icon toggle__icon--close"
    ></icon>
  </button>
  <nav class="header__nav nav" aria-label="header-nav">
    <ul class="nav-menu">
      <li class="nav-menu__item">
        <a href="/" class="nav-menu__link"> Home </a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link"> About </a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link"> Contact </a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link"> Blog </a>
      </li>
      <li class="nav-menu__item">
        <a href="#" class="nav-menu__link"> Careers </a>
      </li>
    </ul>
    <a href="#" class="header__invite nav__cta btn">Request Invite </a>
  </nav>
</header>
