<section class="section section--keyvisual">
  <div class="section__graphic">
    <img
      src="./images/bg-intro-mobile.svg"
      alt=""
      role="presentation"
      class="section__graphic--bg"
    />
    <img
      src="./images/image-mockups.png"
      alt=""
      role="presentation"
      class="section__graphic--mockups"
    />
  </div>
  <header class="section__header">
    <h1 class="section__title">Next generation digital banking</h1>
    <p class="section__description">
      Take your financial life online. Your Easybank account will be a
      one-stop-shop for spending, saving, budgeting, investing, and much more.
    </p>
    <a href="#" class="section__cta btn"> Request Invite</a>
  </header>
</section>
